<!DOCTYPE html>
<html>
    <head>
            <title> Form</title>    
    </head>
    <body>
        <h1>inclusão</h1>
        <form action="/add_pessoa">
            nome: <input type="text" name = nome> <br>
            endereco: <textarea name = endereco ></textarea> <br>
            telefone: <input type="text" name = telefone>
            cpf : <input type="text" name = cpf>
            <input type = submit value= salvar>
        </form>

        <form action="/deletar_pessoa">
            nomezinho: <input type="text" name = nome>
            <input type="button" value= excluir> 
        </form>

        <form action = "/form_editar">
            nome: <input type = "text" name = nome> <br>
            cpf: <input type= "text" name = cpf>
            <input  type = "submit" value = editar_dados>
        </form>
    </body>

    <script>
        
        $ ('#conteúdo').text("Olá, este conteúdo foi inserido por javascript")
        $ ('#alterar ').click (function(){

        var digitando = $ ("#novo").val ();

        $('#conteudo').text(digitando);

        });

        $('#mickey').click(function(){

        $(this).fadeOut (2500);
        $('#linha2').fadeOut(2500)

        })

    </script>

</html>