<!DOCTYPE html>
 <html>
 <head>
     <meta charset="UTF-8"/>
     <title>Documento</title>
 </head>
 <body>
        <a href="/form_add_pessoa"> <b>DEU CERTO</b> </a>
        {% for usuario in lista: %}
            {{usuario.nome}}
            {{usuario.rua}}
            {{usuario.numero}}
        {% endfor %}

        {%for usuario in lista: %}
             {{usuario.nome}}  {{usuario.endereco}}  {{usuario.telefone}}
            <a href=/excluir_pessoa?nome={{usuario.nome}}> excluir </a>
        {%endfor%}        
        
        
 </body>
 </html>