<!DOCTYPE html>
<html>
    <head>
        <title>
            editar
        </title>
    </head>

    <body>
       
        <form action="/editar">
            
            nome : <input type = "text" name = nome value = {{person.nome}}>
            endereco : <input type = "text" endereco = nome value = {{person.endereco}}>
            telefone : <input type = "text" telefone = nome value = {{person.telefone}}>
            cpf : <input type = "text" name = cpf value = {{person.cpf}}>
            <input type="submit" value = "confimar">         

        </form>
        

    </body>
</html>