<!DOCTYPE html>
<html>
    <head>
        <title>
            editar
        </title>
    </head>

    <body>
       
        <form action="/editar">
            
            <input type = "hidden" name = 'id' value = '{{person.id}}'>
            nome : <input type = "text" name = nome value = '{{person.nome}}'>
            endereco : <input type = "text" name = "endereco" value = "{{person.endereco}}">
            telefone : <input type = "text" name = "telefone" value = "{{person.telefone}}">
            cpf : <input type = "text" name = cpf value = {{person.cpf}}>
            <input type="submit" value = "confimar">         

        </form>
        

    </body>
</html>